# Ignore everything in the extracted_books folder except the folder itself
extracted_books/*
!extracted_books/.gitkeep

# Ignore everything in the audiobooks folder except the folder itself
audiobooks/*
!audiobooks/.gitkeep

# Ignore virtual environment files
venv/
.venv
__pycache__/
*.pyc
*.pyo
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak
*.~*
.DS_Store
Thumbs.db

*.pth

# Ignore config.json globally, but allow specific files back
/config.json
!/Kokoro/config.json

# Ignore all files in the models directory and its subdirectories
models/**

# Exclude (unignore) directories within models
!models/**/

# Optionally, include a .gitkeep file to retain empty directories
!models/**/.gitkeep

Kokoro/*.wav
*.wav
test_text.txt

test_input_kokoro
test_output_kokoro

# Ignore voice_tests folder except a .gitkeep file if needed
voice_tests/*
!voice_tests/.gitkeep

# Ignore the temporary folder used for voice tests
voice_test_temp/

test/*
